# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Local runtime
instance/
*.db
.env

# Generated data
data/cleaned/*.csv
data/processed/

# Editors
.vscode/
.idea/
.DS_Store
.cache_tmp/
node_modules/
data/raw/*.log
data/raw/*.log
data/raw/musicbrainz_events.csv
data/raw/musicbrainz_events_concert_only.csv
data/raw/nyphil_concerts.csv
data/raw/wyy*_part_*.csv
data/raw/wyy4_top60.txt
data/raw/comments_social.csv
data/raw/bili_*.csv
data/raw/bili_*.log
data/raw/bili_artists.txt
data/raw/damai_full_concerts.csv
data/raw/damai_full_comments.csv
data/raw/damai_music_concerts.csv
data/raw/damai_music_comments.csv
data/raw/damai_comments.csv
